@model IEnumerable<SC_601_PA_G5_M.Models.Taller.CitaTaller>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCita)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionServicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCita)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdCita }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdCita }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdCita })
        </td>
    </tr>
}

</table>
